#outerContainer {
    text-align: center;
}

#registerLabels {
    display: inline-block;
    text-align: right;
}

#registerFields {
    display: inline-block;
}

#submitBox {
    margin: 0 auto;
    width: 200px;
}